.word {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;

  &__number {
    background-color: #003366;
    color: white;
    min-width: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1rem;
  }

  &__hint {
    min-width: 8rem;
    color: #666;
    position: relative;
    padding-right: 1rem;

    &::after {
      content: '•';
      position: absolute;
      right: 0;
      color: #ff0000;
    }
  }

  &__text {
    color: #003366;
  }
}
